@external .wp-*;
@external .gwt-*;

@url protegeBlenderUrl protegeBlender;
@url protegeCloudUrl protegeCloud;

.wp-login {

}

.wp-login__logo {
    width: 200px; /* 349 */
    height: 160px; /* 267 */
    background-image: protegeCloudUrl;
    background-repeat: no-repeat;
    background-size: contain;
}

.wp-login__form {
    background: none;
    border: 3px solid literal("var(--separator--color)");
    width: 35em;
    padding: 3.5em 3em;
    border-radius: 15px;
    position: absolute;
    top: 30em;
    left: 15em;
}

.wp-login__form .gwt-TextBox {
    border: literal("var(--inlay-panel--border)");
}

.wp-login__form .gwt-PasswordTextBox {
    border: literal("var(--inlay-panel--border)");
}

.wp-login__footnote {
    text-align:   center;
    font-size:    10px;
    color: #c0c0c0;
    padding-left: 2px;
    padding-right: 2px;
}

.wp-login__message {
    font-size:      18px;
    text-align:     center;
}

.wp-login__forgot-user-name-or-password {
    color: #fff;
    background-color: #db5e33;
}